doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include partials/google.webmastertools.jade
        include partials/main.css.jade
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container
            .row
                .col-xs-12
                    h1 Frequently Asked Questions
                    hr
                    p
                        a(href="http://tlks.io") tlks.io
                        span= " "
                        span is the perfect place to showcase, discover, and discuss the best technical talks by the most influential speakers on the internet.
            .row
                .col-xs-12
                    hr
                    h3 What is talks.io?
                    p Developers, and enthusiasts about technology gather every day on
                        span= " "
                        a(href="http://tlks.io") tlks.io
                        span= " "
                        span to share and discuss the best technical talks on the internet that helps them to learn and improve their skills.

                    h3 How does it work?
                    p Whenever you find a great talk or keynote that you enjoyed watching (including your own talks), you're more than welcome to submit it on
                        span= " "
                        a(href="http://tlks.io") tlks.io
                        span .

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
