doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title techtalks.io
        include ./partials/css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
    body
        include ./partials/header.jade

        //- Latest talks
        .container.latest-talks
            .row
                .col-xs-12.talk-list
                    h2 Latest talks
                    hr
                    each talk in latest
                        .row.talk
                            .col-xs-2.thunbnail
                                a(href="talk/play/"+talk.id)
                                    img.img-responsive.img-circle.thumbnail(src="http://img.youtube.com/vi/"+talk.code+"/0.jpg")
                            .col-xs-1.votes
                                button.btn.btn-primary(type="button")
                                    i.glyphicon.glyphicon-chevron-up
                                    span= talk.votes
                            .col-xs-7.content
                                h3: a(href="/talk/"+talk.id)= talk.title
                                p= talk.description
                                .tags
                                    each tag in talk.tags
                                        div.label.label-default.tag= tag
                            .col-xs-2.info
                                .counter.counter_cmnt
                                    a(href="/talk/"+talk.id)
                                        i.glyphicon.glyphicon-comment
                                        span 000
                                .counter.counter_ply
                                    a(href="/talk/play/"+talk.id)
                                        i.glyphicon.glyphicon-play
                                        span= talk.views
                                .counter.counter_favorite
                                    a(href="/talk/favorite/"+talk.id)
                                        i.glyphicon.glyphicon-heart
                                        span= talk.likes
        //- Popular talks
        .container
            .row
                .col-xs-12.talk-list
                    h2 Popular talks
                    hr
                    each talk in popular
                        .row.talk
                            .col-xs-2.thunbnail
                                a(href="talk/play/"+talk.id)
                                    img.img-responsive.img-circle.thumbnail(src="http://img.youtube.com/vi/"+talk.code+"/0.jpg")
                            .col-xs-1.votes
                                button.btn.btn-primary(type="button")
                                    i.glyphicon.glyphicon-chevron-up
                                    span= talk.votes
                            .col-xs-7.content
                                h3: a(href="/talk/"+talk.id)= talk.title
                                p= talk.description
                                .tags
                                each tag in talk.tags
                                    div.label.label-default.tag= tag
                            .col-xs-2.info
                                .counter.counter_cmnt
                                    a(href="/talk/"+talk.id)
                                        i.glyphicon.glyphicon-comment
                                        span 000
                                .counter.counter_ply
                                    a(href="/talk/play/"+talk.id)
                                        i.glyphicon.glyphicon-play
                                        span= talk.views
                                .counter.counter_favorite
                                    a(href="/talk/favorite/"+talk.id)
                                        i.glyphicon.glyphicon-heart
                                        span= talk.likes

        include ./partials/footer.jade
        include ./partials/js.jade
