doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container.profile
            .row.information
                .col-xs-3
                    img.img-responsive.img-circle(src=profile.avatar)
                .col-xs-9
                    .title= profile.username
                    .bio= profile.bio
                    .meta
                        a(href="http://twitter.com/"+profile.username)= "@" + profile.username
            .row.lists-tab
                .col-xs-12
                    ul.nav.nav-tabs
                        li.active(role="posted")
                            a(href="/profile/" + profile.username) Posted
                        li(role="upvoted")
                            a(href="/profile/" + profile.username + "/upvoted") Upvoted
                        li(role="favorited")
                            a(href="/favorited/" + profile.username + "/favorited") Favorited
            .row.lists-content
                .col-xs-12.talk-list
                    for talk in posted
                        include ./partials/talk-list.item.jade

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
