doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(description= description)
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
        include partials/talk.meta-twitter-card.jade
        include partials/talk.meta-open-graph.jade
        include partials/talk.meta-article.jade
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container
            .row
                .col-xs-12.talk-view(itemscope, itemtype="http://schema.org/Article")
                    h2(itemprop="name")= talk.title
                    hr
                    .row
                        .col-xs-8
                            if talk.type =="youtube"
                                .embed-responsive.embed-responsive-16by9
                                    #youtube-player
                            else if talk.type=="vimeo"
                                include partials/vimeo-player.jade
                        .col-xs-4
                            include partials/votes.detail.jade
                            hr
                            a(href="/profile/"+talk.author.username)
                                img.responsive.img-circle(src=""+talk.author.avatar, title="@"+talk.author.username, style="width: 32px")
                            span= " "
                            span.created= ""+moment(talk.created).format("MMMM Do YYYY, h:mm:ss a")
                            div.voters
                                h4(itemprop="voters")= "Voters"
                                hr
                                ul.list-inline
                                    each voter in voters
                                        li
                                            a(href="/profile/"+voter.username)
                                                img.responsive.img-circle(src=""+voter.avatar, title="@"+voter.username, style="width: 32px")
                    hr
                    .row
                        .col-xs-12
                            p(itemprop="articleBody")= talk.description
                    .row
                        .col-xs-10.tags
                            each tag in talk.tags
                                a.label.label-default.tag(href="/tag/" + encodeURIComponent(tag))= tag
                    hr
                    include ./partials/talk.share.jade
                    hr
                    include ./partials/talk.comments.jade
                        .tags
                .row
                    .col-xs-12.talk-list
                        h3 Related talks
                        hr
                        each talk in related
                            include ./partials/talk-list.item.jade
                            hr

        include partials/modal.anon-vote.jade
        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
        include partials/google.youtube.jade
        include inline-js/talk.js.jade
        include inline-js/cookiechoices.js.jade
