doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
        include partials/talk.twitter-card.jade
        include partials/talk.open-graph.jade
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container
            .row
                .col-xs-12.talk-view
                    h2= talk.title
                    hr
                    .row
                        .col-xs-8
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(src="https://www.youtube.com/embed/" + talk.code)
                        .col-xs-4
                            p= talk.description
                            .row
                                .col-xs-6
                                    .info
                                        .counter.counter_cmnt
                                            i.glyphicon.glyphicon-comment
                                            span 000
                                        .counter.counter_ply
                                            i.glyphicon.glyphicon-play
                                            span= talk.viewCount
                                        .counter.counter_favorite
                                            i.glyphicon.glyphicon-heart
                                            span= talk.favoriteCount
                                .col-xs-6
                                    .votes
                                        - if (user != null)
                                            - if (talk.votes.indexOf(user.id) != -1)
                                                button.btn.btn-primary(type="button", disabled="disabled")
                                                    i.glyphicon.glyphicon-chevron-up
                                                    br
                                                    span= talk.voteCount
                                            - else
                                                a.btn.btn-primary(href="/talk/upvote/" + talk.id)
                                                    i.glyphicon.glyphicon-chevron-up
                                                    br
                                                    span= talk.voteCount
                                        - else
                                            button.btn.btn-primary(type="button", disabled="disabled")
                                                i.glyphicon.glyphicon-chevron-up
                                                br
                                                span= talk.voteCount
                    .row
                        .col-xs-12.tags
                            each tag in talk.tags
                                a.label.label-default.tag(href="/tag/" + encodeURIComponent(tag))= tag
                    hr
                    include ./partials/talk.like-facebook.jade
                    include ./partials/talk.share-facebook.jade
                    include ./partials/talk.share-twitter.jade
                    include ./partials/talk.share-gplus.jade
                    hr
                    include ./partials/talk.comments.jade
                        .tags
                .row
                    .col-xs-12.talk-list
                        h3 Related talks
                        hr
                        each talk in related
                            include ./partials/talk-list.item.jade
                            hr

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
