//- Talk
.row.talk
    .col-xs-2.thumb
        //- Thumbnail
        a(href="talk/play/" + talk.slug)
            img.img-responsive.img-circle.thumbnail(src="http://img.youtube.com/vi/" + talk.code + "/0.jpg", title="" + talk.title)
    .col-xs-8.content
        //- Title
        h3.title: a(href="/talk/" + talk.slug)= talk.title
        //- Description
        p.description= talk.description
        //- Tags
        .tags
            each tag in talk.tags
                a.label.label-default.tag(href="/tag/" + tag)= tag
    //- Stats
    .col-xs-1.rates
        .stats
            .counter.counter_cmnt
                a(href="/talk/" + talk.slug)
                    i.glyphicon.glyphicon-comment
                    span 000
            .counter.counter_ply
                a(href="/talk/play/" + talk.slug)
                    i.fa.fa-youtube-play
                    span= talk.viewCount
            .counter.counter_favorite
                - if (user != null)
                    - if (talk.favorites.indexOf(user.id) != -1)
                        a(href="/talk/unfavorite/" + talk.id)
                            i.glyphicon.glyphicon-heart
                                span= talk.favoriteCount
                    - else
                        a(href="/talk/favorite/" + talk.id)
                            i.glyphicon.glyphicon-heart
                                span= talk.favoriteCount
                - else
                    div
                        i.glyphicon.glyphicon-heart
                            span= talk.favoriteCount
    //- Vote
    .col-xs-1.info
        .votes
            - if (user != null)
                - if (talk.votes.indexOf(user.id) != -1)
                    button.btn.btn-default(type="button", disabled="disabled")
                        i.glyphicon.glyphicon-chevron-up
                        br
                        span= talk.voteCount
                - else
                    a.btn-btn-default(href="/talk/upvote/" + talk.id)
                        i.glyphicon.glyphicon-chevron-up
                        br
                        span= talk.voteCount
            - else
                button.btn.btn-default(type="button", disabled="disabled")
                    i.glyphicon.glyphicon-chevron-up
                    br
                    span= talk.voteCount
