.info(itemprop="aggregateRating", itemscope, itemtype="http://schema.org/AggregateRating")
    .row.votes
        - if (user != null)
            - if (talk.votes.indexOf(user.id) != -1)
                button.btn.btn-primary(type="button", disabled="disabled")
                    i.glyphicon.glyphicon-chevron-up
                    .counter(itemprop="ratingCount")= talk.voteCount
            - else
                button.btn.btn-primary.js-vote(type="button", data-id=talk.id)
                    i.glyphicon.glyphicon-chevron-up
                    .counter(itemprop="ratingCount")= talk.voteCount
        - else
            button.btn.btn-primary.js-vote-anon(type="button", data-toggle="modal", data-target=".voteAnon")
                i.glyphicon.glyphicon-chevron-up
                .counter(itemprop="ratingCount")= talk.voteCount
    .row.stats
        .col-xs-6.comments
            a(href="/talk/" + talk.slug)
                i.fa.fa-comments
        .col-xs-6.favorites
            - if (user != null)
                - if (talk.favorites.indexOf(user.id) != -1)
                    .heart.unfavorite(data-id=talk.id)
                        i.fa.fa-heart.red
                - else
                    .heart.favorite(data-id=talk.id)
                        i.fa.fa-heart
            - else
                .heart
                    i.fa.fa-heart
